alphabetical-scroll-bar {
  //Defaults styles can be overridden here
  font-size: 0.5rem;
}

.no-scrollbar-container {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  padding-right: 17px;
  box-sizing: content-box;
}

.disable-scroll {
  overflow-y: hidden;
}
