<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Alphabetical Scroll Example </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" scrollY="false">
  <!-- Scroll bar -->
  <alphabetical-scroll-bar
    [exactX]="false"
    [letterMagnification]="true"
    [validLetters]="letterGroups"
    [navigateOnHover]="true"
    (letterChange)="goToLetterGroup($event)"
    (isActive)="!$event && enableScroll()"
  ></alphabetical-scroll-bar>

  <!-- Groups of names -->
  <div [class.disable-scroll]="isScrollDisabled" class="no-scrollbar-container">
    <ion-item-group [id]="getGroupId(group.letterGroup)" *ngFor="let group of groups">
      <ion-item-divider>{{group.letterGroup}}</ion-item-divider>
      <ion-item *ngFor="let name of group.names" lines="full">
        <ion-avatar slot="start">
          <ion-icon style="height: 100%; width: 100%" name="person-sharp"></ion-icon>
        </ion-avatar>
        <ion-label>{{name}}</ion-label>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>
